.appContainer{
--max-width:1280px;
--padding:1rem;
width:min(var(--max-width), 100% - (var(--padding) * 2));
margin-inline:auto;
}
.navContainer{
    display: flex;
    padding: 1rem;
    
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2rem;
}
.flex >a{
    padding-left: 1rem;
    color:var(--white);
}
.nav{
      display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
}
.nav>li>a{
     padding:0  3rem;
    color:#edece57d;

}
.nav>li>a:hover{
    color: #fff;
    transition: all .4s ease-in;
}

.circle{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;

}
.heroContainer{
    margin-inline: auto;
    padding: 4rem;
    --heading-color:#edece57d;
}
h1{
  font-size: .9rem;
  line-height: 1.5;
      text-transform: uppercase;

color: var(--heading-color);
}
h2{
    font-size: 2.7rem;
    line-height: 1.5;
    color: var(--white);
}
.dot{
    color: blue;
}
h3{
     font-size: .9rem;
    line-height: 1.7;
    color: var(--heading-color);

}