:root{
--primary-color:;
--secondary-color:;
--bg-color:#00365e;
--secondary-bg:#fff;

}
*:before,*:after,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: var(--bg-color);
  display:grid;
place-items: center;
min-height: 100vh;
font-family: system-ui, sans-serif;
}
