:root{
--primary-color:;
--secondary-color:;
--bg-color:;

}
*:before,*:after,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: #fff;
  min-height: 100vh;
  display:grid;
place-items: center;
}
.container{
  --max-width: 1110px;
  --padding: 1rem;
    width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;

}